In [21]:
import sys
!{sys.executable} -m pip install pandas requests lxml html5lib

Requirement already satisfied: pandas in /srv/conda/lib/python3.6/site-packages (0.23.4)
Requirement already satisfied: requests in /srv/conda/lib/python3.6/site-packages (2.21.0)
Requirement already satisfied: lxml in /srv/conda/lib/python3.6/site-packages (4.3.0)
Requirement already satisfied: html5lib in /srv/conda/lib/python3.6/site-packages (1.0.1)
Requirement already satisfied: numpy>=1.9.0 in /srv/conda/lib/python3.6/site-packages (from pandas) (1.15.4)
Requirement already satisfied: pytz>=2011k in /srv/conda/lib/python3.6/site-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /srv/conda/lib/python3.6/site-packages (from pandas) (2.7.5)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.6/site-packages (from requests) (2018.11.29)
Requirement already satisfied: idna<2.9,>=2.5 in /srv/conda/lib/python3.6/site-packages (from requests) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /srv/conda/lib/python3.6/site-packages (from requests) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /srv/conda/lib/python3.6/site-packages (from requests) (3.0.4)
Requirement already satisfied: six>=1.9 in /srv/conda/lib/python3.6/site-packages (from html5lib) (1.12.0)
Requirement already satisfied: webencodings in /srv/conda/lib/python3.6/site-packages (from html5lib) (0.5.1)

Import packages

In [28]:
import requests
import re
import numpy as np
import pandas as pd
import html5lib
from xml.etree import ElementTree, XmlDictConfig

ImportError: cannot import name 'XmlDictConfig'

1. We should collect all neighbourhoods of Moscow, Russia. At this tep we can get all postal codesfrom http://mosopen.ru/streets/post_codes_list. But we must pre-process data to have unique postal codes of regions.

Download **Moscow** postal codes data from site

In [3]:
moscow_postcodes_link='http://mosopen.ru/streets/post_codes_list'
raw_moscow_postcodes_page=requests.get(moscow_postcodes_link)
moscow_postcodes_page=raw_moscow_postcodes_page.text

Find start and end of HTML table inside page

In [4]:
page_table_start = moscow_postcodes_page.find('<table class="table_list">')
page_table_end = moscow_postcodes_page.find('</table>', page_table_start)
print(page_table_start, page_table_end)

17716 66404

Parse HTML table from page to variable

In [5]:
moscow_postcodes_page_table = moscow_postcodes_page[page_table_start : page_table_end]

Read HTML table to pandas DataFrame, rename columns and transform data type from _int_ to _str_

In [6]:
moscow_postcodes_df = pd.read_html(moscow_postcodes_page_table, header =0)[0]
# Rename columns
moscow_postcodes_df.columns = ['city_code', 'postal_code']
# Transform city_code to string
moscow_postcodes_df['city_code']= moscow_postcodes_df['city_code'].astype(str)

Split joined postcodes in column to rows

In [7]:
postcodes = moscow_postcodes_df['postal_code'].str.split(',', expand=True).stack().str.strip().reset_index(level=1, drop=True)
postcodes = postcodes.rename('postal_code')

Drop old column with joined postcodes

In [8]:
moscow_postcodes_df = moscow_postcodes_df.drop(['postal_code'], axis=1)

Merge city codes with postal codes

In [9]:
moscow_postcodes_df = pd.concat([moscow_postcodes_df, postcodes], axis=1)

Join city code with postal code into one column

In [10]:
moscow_postcodes_df['postal_code'] = moscow_postcodes_df['city_code'] + moscow_postcodes_df['postal_code']

Drop unused city code

In [11]:
moscow_postcodes_df = moscow_postcodes_df.drop(['city_code'], axis=1)

Convert **DataFrame** to **Series** and print result post codes list

In [45]:
moscow_postcodes = moscow_postcodes_df['postal_code']
moscow_postcodes.head()

0    101000
1    103070
1    103132
1    103274
2    105005
Name: postal_code, dtype: object

2. After that we have list of all Moscow postal codes and can get them coordinates from Openstreetmap with Nominatim API. URL must view like https://nominatim.openstreetmap.org/search?format=xml&city=Moscow&postalcode=117623

Create functiun to get **latitude** and **longitude** from **postal** code in Moscow
<br>URL configured to get information in _JSON_ format, only from _Moscow_.
<br>URL request return list of coordinates. Find only request on post code.

In [82]:
def get_postal_code_location(postal_code):
    # Inti null, if request in empty
    latitude = ''
    longitude = ''
    # generate link for postal code
    link_template='https://nominatim.openstreetmap.org/search?format=json&city=Moscow&postalcode={}'.format(postal_code)
    # get link request in JSON
    raw_json=requests.get(link_template).json()
    
    # Itterate all elements in JSON
    for element in raw_json:
        # Get only postcodes information instead city
        if element['type'] == 'postcode':
            # extract latitude and longitude
            latitude = element['lat']
            longitude = element['lon']
    
    return latitude, longitude

Test function on different postal codes

In [83]:
print('129110', get_postal_code_location('129110'))
print('117209', get_postal_code_location('117209'))

129110 ('55.785205290674', '37.6345827572714')
117209 ('55.6624249494477', '37.5769160148382')

Apply function to all postal codes and insert informtion into DataFrame

In [96]:
# Init DataFrame
postcodes_loc_df = pd.DataFrame(columns=['postal_code', 'latitude', 'longitude'])

for postal_code in moscow_postcodes:
    # Get latitude and longitude from function
    latitude, longitude = get_postal_code_location(postal_code)
    # Add data to DataFrame
    postcodes_loc_df = postcodes_loc_df.append({'postal_code' : postal_code , 'latitude' : latitude, 'longitude': longitude} , ignore_index=True)

print('Done')

Done

Drop empty rows

In [98]:
postcodes_loc_df = postcodes_loc_df[postcodes_loc_df['latitude'] != '']

Print head

In [99]:
postcodes_loc_df.head()

  postal_code          latitude         longitude
0      101000  55.7608778083614  37.6342604732897
3      103274  55.7528410152297   37.574510795379
4      105005  55.7676310026104  37.6797064802202
5      105037  55.7938879994846  37.7736807317296
6      105043  55.7921423068318  37.7903780983711

3. After collecting all coordinates of postal codes in Moscow to pandas DataFrame we can get infromation about most populat venues from Foursquare.

Define Foursquare Credentials and Version¶

In [100]:
CLIENT_ID = 'Y3FU1X0JU1Z2YKUNLTUCCWH5K0DMDA0AZQAWWMFM4I3XIOZI' # your Foursquare ID
CLIENT_SECRET = '0G02XW3JUA4XIBNNBB5N1G4QUXC1MY3QZGT21DGJITJ2YYY3' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)
print('LIMIT = ', LIMIT)
print('radius = ', radius)

Your credentails:
CLIENT_ID: Y3FU1X0JU1Z2YKUNLTUCCWH5K0DMDA0AZQAWWMFM4I3XIOZI
CLIENT_SECRET:0G02XW3JUA4XIBNNBB5N1G4QUXC1MY3QZGT21DGJITJ2YYY3
LIMIT =  100
radius =  500

Let's create a function to repeat the same process to all the neighborhoods in Manhattan

In [101]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

#### Now write the code to run the above function on each neighborhood and create a new dataframe called *manhattan_venues*.

In [102]:
moscow_venues = getNearbyVenues(postcodes_loc_df['postal_code'], postcodes_loc_df['latitude'], postcodes_loc_df['longitude'])

101000
103274
105005
105037
105043
105062
105064
105066
105077
105082
105094
105118
105120
105122
105173
105175
105187
105203
105215
105264
105275
105318
105425
105484
105523
105554
105568
107014
107023
107045
107061
107065
107076
107078
107113
107140
107143
107150
107207
107241
107258
107370
107392
107497
107553
107564
107589
109004
109028
109029
109044
109052
109074
109117
109125
109129
109145
109147
109153
109156
109202
109235
109240
109263
109316
109341
109369
109377
109378
109380
109382
109383
109386
109387
109388
109390
109428
109429
109431
109439
109443
109444
109451
109456
109457
109462
109469
109472
109507
109518
109542
109544
109548
109559
109649
109651
109652
111020
111024
111033
111116
111123
111141
111250
111394
111395
111396
111397
111398
111399
111402
111524
111531
111538
111539
111555
111558
111621
111622
111625
111672
111673
111674
115035
115054
115088
115093
115114
115142
115162
115172
115184
115191
115193
115201
115211
115230
115280
115304
115372
115404
115406
115407
115408
115409
115419
115432
115446
115470
115477
115478
115487
115516
115522
115533
115547
115551
115563
115569
115573
115580
115582
115583
115597
115598
115612
115682
117036
117042
117105
117133
117149
117152
117186
117198
117208
117209
117216
117218
117246
117279
117292
117303
117312
117321
117342
117393
117403
117405
117418
117420
117437
117447
117449
117452
117461
117463
117465
117485
117513
117519
117525
117534
117535
117545
117546
117556
117570
117574
117587
117588
117593
117623
117624
117628
117630
117638
117647
117648
119002
119017
119019
119021
119027
119034
119048
119049
119071
119072
119121
119136
119146
119180
119192
119234
119261
119270
119285
119296
119297
119311
119313
119330
119331
119333
119334
119361
119415
119421
119435
119454
119501
119517
119526
119530
119571
119590
119602
119606
119607
119618
119619
119620
119633
119634
121059
121069
121087
121096
121099
121108
121151
121165
121170
121248
121309
121351
121352
121353
121354
121357
121374
121433
121467
121471
121500
121552
121596
121601
121609
121614
121615
123001
123007
123022
123056
123060
123098
123100
123103
123104
123154
123181
123182
123242
123290
123298
123308
123317
123423
123458
123557
123592
123610
124365
124460
124482
124489
124498
124527
124536
124575
124681
125008
125040
125057
125080
125130
125167
125171
125183
125190
125195
125212
125222
125239
125252
125284
125310
125315
125319
125362
125363
125364
125367
125368
125371
125373
125412
125413
125414
125424
125430
125438
125445
125459
125464
125466
125475
125476
125480
125481
125493
125499
125502
125565
125581
125599
125627
125635
127015
127018
127081
127083
127106
127204
127206
127220
127221
127224
127247
127253
127254
127273
127276
127282
127287
127299
127322
127349
127410
127411
127422
127427
127434
127474
127486
127490
127521
127540
127543
127549
127550
127560
127562
127566
127591
127642
127644
129075
129085
129090
129110
129128
129164
129223
129226
129272
129281
129301
129323
129327
129329
129336
129337
129343
129344
129345
129346
129347
129366
129515
129594
129626
141400
141411
141431
141700
143350

In [105]:
print(moscow_venues.shape)
moscow_venues.head()

(9286, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,101000,55.7608778083614,37.6342604732897,Хачапури,55.761583,37.635856,Caucasian Restaurant
1,101000,55.7608778083614,37.6342604732897,Чайных дел мастерская,55.761063,37.635439,Tea Room
2,101000,55.7608778083614,37.6342604732897,Double B Coffee & Tea,55.761527,37.631717,Coffee Shop
3,101000,55.7608778083614,37.6342604732897,Time Club «Убежище»,55.761148,37.637729,Gaming Cafe
4,101000,55.7608778083614,37.6342604732897,Особняк Салтыкова-Черткова,55.760387,37.631293,Historic Site

In [107]:
moscow_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
101000,99,99,99,99,99,99
103274,23,23,23,23,23,23
105005,49,49,49,49,49,49
105037,18,18,18,18,18,18
105043,19,19,19,19,19,19
105062,65,65,65,65,65,65
105064,44,44,44,44,44,44
105066,34,34,34,34,34,34
105077,10,10,10,10,10,10
105082,14,14,14,14,14,14
105094,42,42,42,42,42,42
105118,4,4,4,4,4,4
105120,24,24,24,24,24,24
105122,11,11,11,11,11,11
105173,6,6,6,6,6,6
105175,35,35,35,35,35,35
105187,11,11,11,11,11,11
105203,6,6,6,6,6,6
105215,28,28,28,28,28,28
105264,16,16,16,16,16,16
105275,9,9,9,9,9,9
105318,76,76,76,76,76,76
105425,11,11,11,11,11,11
105484,12,12,12,12,12,12
105523,30,30,30,30,30,30
105554,27,27,27,27,27,27
105568,6,6,6,6,6,6
107014,14,14,14,14,14,14
107023,56,56,56,56,56,56
107045,66,66,66,66,66,66
...,...,...,...,...,...,...
129075,13,13,13,13,13,13
129085,32,32,32,32,32,32
129090,80,80,80,80,80,80
129110,50,50,50,50,50,50
129128,16,16,16,16,16,16
129164,21,21,21,21,21,21
129223,33,33,33,33,33,33
129226,8,8,8,8,8,8
129272,46,46,46,46,46,46
129281,23,23,23,23,23,23
129301,4,4,4,4,4,4
129323,17,17,17,17,17,17
129327,47,47,47,47,47,47
129329,10,10,10,10,10,10
129336,9,9,9,9,9,9
129337,10,10,10,10,10,10
129343,5,5,5,5,5,5
129344,6,6,6,6,6,6
129345,13,13,13,13,13,13
129346,7,7,7,7,7,7
129347,19,19,19,19,19,19
129366,48,48,48,48,48,48
129515,24,24,24,24,24,24
129594,26,26,26,26,26,26
129626,8,8,8,8,8,8
141400,5,5,5,5,5,5
141411,1,1,1,1,1,1
141431,4,4,4,4,4,4
141700,13,13,13,13,13,13
143350,1,1,1,1,1,1

#### Let's find out how many unique categories can be curated from all the returned venues

In [108]:
print('There are {} uniques categories.'.format(len(moscow_venues['Venue Category'].unique())))

There are 403 uniques categories.

## 3. Analyze Each Neighborhood

In [109]:
# one hot encoding
moscow_onehot = pd.get_dummies(moscow_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
moscow_onehot['Neighborhood'] = moscow_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [moscow_onehot.columns[-1]] + list(moscow_onehot.columns[:-1])
moscow_onehot = moscow_onehot[fixed_columns]

moscow_onehot.head()

,Zoo Exhibit,Accessories Store,Adult Boutique,American Restaurant,Amphitheater,Antique Shop,Aquarium,Arcade,Argentinian Restaurant,Art Gallery,...,Watch Shop,Water Park,Waterfall,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Women's Store,Yoga Studio,Zoo
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

And let's examine the new dataframe size.

In [111]:
moscow_onehot.shape

(9286, 403)

#### Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [112]:
moscow_grouped = moscow_onehot.groupby('Neighborhood').mean().reset_index()
moscow_grouped

,Neighborhood,Zoo Exhibit,Accessories Store,Adult Boutique,American Restaurant,Amphitheater,Antique Shop,Aquarium,Arcade,Argentinian Restaurant,...,Watch Shop,Water Park,Waterfall,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Women's Store,Yoga Studio,Zoo
0,101000,0.000000,0.000,0.010101,0.000000,0.0,0.000000,0.000000,0.020202,0.000000,...,0.0,0.0,0.0,0.0,0.020202,0.000000,0.0,0.000000,0.030303,0.000000
1,103274,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
2,105005,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.020408,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3,105037,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
4,105043,0.052632,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
5,105062,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.015385,0.0,0.000000,0.015385,0.000000
6,105064,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.022727,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
7,105066,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.029412,0.000000
8,105077,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
9,105082,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
10,105094,0.000000,0.000,0.000000,0.023810,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
11,105118,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
12,105120,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.041667,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
13,105122,0.000000,0.000,0.090909,0.000000,0.0,0.000000,0.000000,0.090909,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
14,105173,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
15,105175,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.028571,...,0.0,0.0,0.0,0.0,0.000000,0.028571,0.0,0.000000,0.028571,0.000000
16,105187,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
17,105203,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
18,105215,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.035714,0.000000,0.000000
19,105264,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.062500,0.0,0.000000,0.000000,0.000000
20,105275,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
21,105318,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.026316,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.013158,0.0,0.013158,0.013158,0.000000
22,105425,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
23,105484,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
24,105523,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25,105554,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
26,105568,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
27,107014,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
28,107023,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
29,107045,0.000000,0.000,0.000000,0.000000,0.0,0.015152,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.015152,0.000000,0.0,0.000000,0.030303,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,129075,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
404,129085,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
405,129090,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.012500,0.000000
406,129110,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.040000,0.0,0.000000,0.000000,0.000000
407,129128,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
408,129164,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
409,129223,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.030303,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.030303,0.000000,0.0,0.000000,0.000000,0.000000
410,129226,0.000000,0.125,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
411,129272,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.021739,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.043478,0.0,0.000000,0.000000,0.021739
412,129281,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
413,129301,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
414,129323,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
415,129327,0.000000,0.000,0.000000,0.021277,0.0,0.000000,0.000000,0.021277,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.021277,0.000000,0.000000
416,129329,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
417,129336,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
418,129337,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
419,129343,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
420,129344,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
421,129345,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
422,129346,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
423,129347,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
424,129366,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
425,129515,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.041667,0.0,0.000000,0.000000,0.000000
426,129594,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
427,129626,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
428,141400,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
429,141411,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
430,141431,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
431,141700,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
432,143350,0.000000,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000