In [16]:
import sys
!{sys.executable} -m pip install pandas requests lxml html5lib

Requirement already satisfied: pandas in /srv/conda/lib/python3.6/site-packages (0.23.4)
Requirement already satisfied: requests in /srv/conda/lib/python3.6/site-packages (2.21.0)
Requirement already satisfied: lxml in /srv/conda/lib/python3.6/site-packages (4.3.0)
Collecting html5lib
  Downloading https://files.pythonhosted.org/packages/a5/62/bbd2be0e7943ec8504b517e62bab011b4946e1258842bc159e5dfde15b96/html5lib-1.0.1-py2.py3-none-any.whl (117kB)
    100% |████████████████████████████████| 122kB 4.2MB/s ta 0:00:01
Requirement already satisfied: python-dateutil>=2.5.0 in /srv/conda/lib/python3.6/site-packages (from pandas) (2.7.5)
Requirement already satisfied: numpy>=1.9.0 in /srv/conda/lib/python3.6/site-packages (from pandas) (1.15.4)
Requirement already satisfied: pytz>=2011k in /srv/conda/lib/python3.6/site-packages (from pandas) (2018.9)
Requirement already satisfied: idna<2.9,>=2.5 in /srv/conda/lib/python3.6/site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.6/site-packages (from requests) (2018.11.29)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /srv/conda/lib/python3.6/site-packages (from requests) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /srv/conda/lib/python3.6/site-packages (from requests) (3.0.4)
Requirement already satisfied: six>=1.9 in /srv/conda/lib/python3.6/site-packages (from html5lib) (1.12.0)
Requirement already satisfied: webencodings in /srv/conda/lib/python3.6/site-packages (from html5lib) (0.5.1)
Installing collected packages: html5lib
Successfully installed html5lib-1.0.1

In [18]:
import requests
import re
import numpy as np
import pandas as pd
import html5lib

moscow_postcodes_link='http://mosopen.ru/streets/post_codes_list'
raw_moscow_postcodes_page=requests.get(moscow_postcodes_link)
page=raw_moscow_postcodes_page.text

In [21]:
page_table_start = page.find('<table class="table_list">')
page_table_end = page.find('</table>', page_table_start)
print(page_table_start, page_table_end)

17716 66404

In [22]:
page_table = page[page_table_start : page_table_end]

In [97]:
df = pd.read_html(page_table, header =0)[0]
# Rename columns
df.columns = ['city_code', 'postal_code']
# Transform city_code to string
df['city_code']= df['city_code'].astype(str)

In [78]:
postcodes = df['postal_code'].str.split(',', expand=True).stack().str.strip().reset_index(level=1, drop=True)
postcodes = postcodes.rename('postal_code')

In [98]:
df = df.drop(['postal_code'], axis=1)

In [99]:
df = pd.concat([df, postcodes], axis=1)

In [100]:
df['postal_code'] = df['city_code'] + df['postal_code']

In [101]:
df = df.drop(['city_code'], axis=1)

   postal_code
0       101000
1       103070
1       103132
1       103274
2       105005
2       105037
2       105043
2       105062
2       105064
2       105066
2       105077
2       105082
2       105094
2       105118
2       105120
2       105122
2       105173
2       105175
2       105187
2       105203
2       105215
2       105229
2       105264
2       105275
2       105318
2       105425
2       105484
2       105523
2       105554
2       105568
..         ...
14      129085
14      129090
14      129110
14      129128
14      129164
14      129223
14      129226
14      129272
14      129281
14      129301
14      129323
14      129327
14      129329
14      129336
14      129337
14      129338
14      129343
14      129344
14      129345
14      129346
14      129347
14      129366
14      129515
14      129594
14      129626
15      141400
15      141411
15      141431
15      141700
16      143350

[468 rows x 1 columns]

In [ ]:
# Get first table from page

df = df[df['Borough'] != 'Not assigned']
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(", ".join).reset_index()
df['Neighbourhood'] = np.where(df['Neighbourhood'] == 'Not assigned', df['Borough'], df['Neighbourhood'])