In [1]:
import sys
!{sys.executable} -m pip install pandas requests lxml html5lib

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/e1/d8/feeb346d41f181e83fba45224ab14a8d8af019b48af742e047f3845d8cff/pandas-0.23.4-cp36-cp36m-manylinux1_x86_64.whl
Requirement already satisfied: requests in /srv/conda/lib/python3.6/site-packages (2.21.0)
Collecting lxml
  Using cached https://files.pythonhosted.org/packages/5d/d4/e81be10be160a6323cf5f29f1eabc9693080cb16780a2e19c96091ee37ee/lxml-4.3.0-cp36-cp36m-manylinux1_x86_64.whl
Collecting html5lib
  Using cached https://files.pythonhosted.org/packages/a5/62/bbd2be0e7943ec8504b517e62bab011b4946e1258842bc159e5dfde15b96/html5lib-1.0.1-py2.py3-none-any.whl
Collecting numpy>=1.9.0 (from pandas)
  Using cached https://files.pythonhosted.org/packages/ff/7f/9d804d2348471c67a7d8b5f84f9bc59fd1cefa148986f2b74552f8573555/numpy-1.15.4-cp36-cp36m-manylinux1_x86_64.whl
Collecting pytz>=2011k (from pandas)
  Using cached https://files.pythonhosted.org/packages/61/28/1d3920e4d1d50b19bc5d24398a7cd85cc7b9a75a490570d5a30c57622d34/pytz-2018.9-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.5.0 in /srv/conda/lib/python3.6/site-packages (from pandas) (2.7.5)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /srv/conda/lib/python3.6/site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /srv/conda/lib/python3.6/site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.6/site-packages (from requests) (2018.11.29)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /srv/conda/lib/python3.6/site-packages (from requests) (1.24.1)
Requirement already satisfied: webencodings in /srv/conda/lib/python3.6/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /srv/conda/lib/python3.6/site-packages (from html5lib) (1.12.0)
Installing collected packages: numpy, pytz, pandas, lxml, html5lib
Successfully installed html5lib-1.0.1 lxml-4.3.0 numpy-1.15.4 pandas-0.23.4 pytz-2018.9

Import packages

In [2]:
import requests
import re
import numpy as np
import pandas as pd
import html5lib

1. We should collect all neighbourhoods of Moscow, Russia. At this tep we can get all postal codesfrom http://mosopen.ru/streets/post_codes_list. But we must pre-process data to have unique postal codes of regions.

Download **Moscow** postal codes data from site

In [ ]:
moscow_postcodes_link='http://mosopen.ru/streets/post_codes_list'
raw_moscow_postcodes_page=requests.get(moscow_postcodes_link)
moscow_postcodes_page=raw_moscow_postcodes_page.text

Find and parse table from page

In [3]:
page_table_start = moscow_postcodes_page.find('<table class="table_list">')
page_table_end = moscow_postcodes_page.find('</table>', page_table_start)
print(page_table_start, page_table_end)

17716 66404

Read HTML table to pandas DataFrame

In [4]:
moscow_postcodes_page_table = moscow_postcodes_page[page_table_start : page_table_end]

In [5]:
moscow_postcodes_df = pd.read_html(moscow_postcodes_page_table, header =0)[0]
# Rename columns
moscow_postcodes_df.columns = ['city_code', 'postal_code']
# Transform city_code to string
moscow_postcodes_df['city_code']= moscow_postcodes_df['city_code'].astype(str)

In [6]:
postcodes = moscow_postcodes_df['postal_code'].str.split(',', expand=True).stack().str.strip().reset_index(level=1, drop=True)
postcodes = postcodes.rename('postal_code')

In [7]:
moscow_postcodes_df = moscow_postcodes_df.drop(['postal_code'], axis=1)

In [8]:
moscow_postcodes_df = pd.concat([moscow_postcodes_df, postcodes], axis=1)

In [9]:
moscow_postcodes_df['postal_code'] = moscow_postcodes_df['city_code'] + moscow_postcodes_df['postal_code']

In [10]:
moscow_postcodes_df = moscow_postcodes_df.drop(['city_code'], axis=1)

In [12]:
moscow_postcodes_df

   postal_code
0       101000
1       103070
1       103132
1       103274
2       105005
2       105037
2       105043
2       105062
2       105064
2       105066
2       105077
2       105082
2       105094
2       105118
2       105120
2       105122
2       105173
2       105175
2       105187
2       105203
2       105215
2       105229
2       105264
2       105275
2       105318
2       105425
2       105484
2       105523
2       105554
2       105568
..         ...
14      129085
14      129090
14      129110
14      129128
14      129164
14      129223
14      129226
14      129272
14      129281
14      129301
14      129323
14      129327
14      129329
14      129336
14      129337
14      129338
14      129343
14      129344
14      129345
14      129346
14      129347
14      129366
14      129515
14      129594
14      129626
15      141400
15      141411
15      141431
15      141700
16      143350

[468 rows x 1 columns]